/*-------------------------------- showcase -------------------------- */
.hero-showcase__title {
  line-height: 1;
}

.hero-showcase__paragraph {
  padding: 20px 0;
}

/* what we do section */

#what-we-do-section > .container .img-container {
  display: none;
}

#what-we-do-section .container .items-container {
  position: relative;
  top: 0;
  left: 0;
  padding: 20px 30px;
}

/* video showcase */

#video-showcase {
  padding: 20px 30px;
}

#video-showcase .why-choose-us-bg-img {
  display: none;
}
#video-showcase .play-button {
  top: 90%;
  left: 70%;
  transform: translate(-70%, -90%);
}

#video-showcase .container p {
  width: 100%;
  max-width: 90%;
}
.video-player__video {
  width: 400px;
  height: 200px;
}

.video-player__controls-close {
  position: absolute;
  top: -10px;
  left: 0;
  color: #fff;
  cursor: pointer;
}

/* -------------------Section get started --------------- */
.container--flex-spaced {
  flex-direction: column;
}

.section-get-started__services-list {
  align-self: flex-start;
  margin-bottom: 1rem;
}

.section-get-started__image {
  width: 80%;
}

/* --------------------Section clients-------------------- */
